<main>
   <div class="title-box">
    <% if @range == "Genre" %>
    <h2 class="inline product-title">ジャンル検索</h2>
    <% else %>
      <h2 class="inline product-title">商品一覧</h2>
    <% end %>
    <span>(全<%= @products_count.count %>件)</span>
  </div>

  <div class="container product-container">
    <% @products.each do |product| %>
      <div class="product-box">
        <%= link_to (attachment_image_tag product, :image, :fill, 225, 175), product_path(product.id) %>
        <p><%= product.name %></p>
        <p>¥<%= (product.ex_price * @tax).floor %></p>
      </div>
    <% end %>
  </div>

  <div class="paginate">
    <%= paginate @products %>
  </div>
</main>
