<main>
  <% if @range == "Genre" %>
    <!--下記変更の可能性あり-->
    <h2 class="inline product-title">ジャンル検索</h2>
  <% else %>
    <h2 class="inline product-title">商品一覧</h2>
  <% end %>

  <!--count修正の必要あり-->
  <span>(全<%= @products.count %>件)</span>

  <div class="container product-container">
    <% @products.each do |product| %>
    <div class="product-box">
      <%= link_to (attachment_image_tag product, :image, :fill, 150, 150), product_path(product.id) %>
      <p><%= product.name %></p>
      <p>¥<%= product.ex_price * @tax.round %></p>
    </div>
    <% end %>
  </div>

  <div class="paginate">
    <%= paginate @products %>
  </div>
</main>
