<main>
  <div class="cart-box container">
    <div class="between-flex-lg">
      <div>
        <h3>ショッピングカート</h3>
      </div>

      <div>
        <%= link_to "カートを空にする", cart_products_path, method: :delete, data: { confirm: "本当にカートを空にしますか？" }, class:"btn btn-sm btn-danger"  %>
      </div>
    </div>

    <div class="cart-products-index">
      <table class="table table table-bordered table-active">
        <thead>
          <tr class="text-align-center">
            <th width="32%">商品名</th>
            <th width="18%">単価(税込)</th>
            <th width="18%">数量</th>
            <th width="18%">小計</th>
            <th width="14%"></th>
          </tr>
        </thead>

      <% @cart_products.each do |cart_product|%>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag cart_product.product, :image, :fill, 40, 40 %>
              <%= cart_product.product.name %>
            </td>
            <td>
              <%= cart_product.product.name %>
            </td>
            <td>
              <%= (cart_product.product.ex_price * @tax).floor %>
            </td>
            <td>
              <%= form_with url: cart_product_path, local:true do |f| %>
                <%= f.select :quantity,
                  {"1":1, "2":2, "3":3, "4":4, "5":5, "6":6, "7":7, "8":8, "9":9, "10":10},
                  { include_blank: cart_product.quantity }
                %>
                <%= f.submit "変更", class:"btn btn-sm btn-success" %>
              <% end %>
            </td>
            <td>
              <%= (cart_product.product.ex_price * @tax * cart_product.quantity).floor %>
            </td>
            <td>
              <%= link_to "削除する", cart_product_path, method: :delete, data: { confirm: "本当にカートを空にしますか？" }, class:"btn btn-sm btn-danger" %>
            </td>
          </tr>
        </tbody>
      </table>
          <!--合計金額算出用の変数-->
      <% sub_total = (cart_product.product.ex_price * @tax * cart_product.quantity).floor %>
      <% @sum += sub_total %>
      <% end %>
    </div>


    <div class="container between-flex">
      <div class="link-to-top">
        <%= link_to "買い物を続ける", root_path, class:"btn btn-sm btn-primary" %>
      </div>

      <div class="cart-total">
        <span class="cart-total-price col-md-4">合計金額</span>
        <span class="cart-total-price col-md-4"><%= @sum %></span>
      </div>
    </div>
  </div>
</main>