<main>
  <div class="sign-up-error">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div calss="container">
    <div class="row">
      <div class="col-md-11 offset-md-1">
        <div class="field col-md-3 offset-sm-1 py-5">
          <h3 class="bg-white text-center pt-2 pb-2">新規会員登録</h3>
        </div>

        <%= form_with model: @member, url: member_registration_path, id: 'new_member', class: 'new_member', local: true do |f| %>

        <div class="field col-md-12 mb-3">
          <%= f.label :"名前", class:"col-sm-2" %>
          <%= f.label :"(姓)", class:"col-sm-1" %>
          <%= f.text_field :family_name, class:"col-sm-3" %>
          <%= f.label :"(名)", class:"col-sm-1" %>
          <%= f.text_field :first_name, class:"col-sm-3" %>
        </div>

        <div class="field col-md-12 mb-3">
          <%= f.label :"フリガナ", class:"col-sm-2" %>
          <%= f.label :"(セイ)", class:"col-sm-1" %>
          <%= f.text_field :family_kana, class:"col-sm-3" %>
          <%= f.label :"(メイ)", class:"col-sm-1" %>
          <%= f.text_field :first_kana, class:"col-sm-3" %>
        </div>

        <div class="field col-md-12 mb-3">
          <%= f.label :"メールアドレス", class:"col-sm-3" %>
          <%= f.text_field :email, class:"col-sm-3 fix-margin" %>
        </div>

        <div class="field col-md-12 mb-3">
          <%= f.label :"郵便番号(ハイフンなし)", class:"col-sm-3" %>
          <%= f.text_field :postal_code, class:"col-sm-3 fix-margin" %>
        </div>

        <div class="field col-md-12 mb-3">
          <%= f.label :"住所", class:"col-sm-3" %>
          <%= f.text_field :address, class:"col-sm-6 fix-margin" %>
        </div>

        <div class="field col-md-12 mb-3">
          <%= f.label :"電話番号(ハイフンなし)", class:"col-sm-3" %>
          <%= f.text_field :phone_number, class:"col-sm-3 fix-margin" %>
        </div>

        <div class="field col-md-12 mb-3">
          <%= f.label :"パスワード(6文字以上)", class:"col-sm-3" %>
          <%= f.password_field :password, class:"col-sm-3 fix-margin" %>
        </div>

        <div class="field col-md-12 mb-3">
          <%= f.label :"パスワード(確認用)", class:"col-sm-3" %>
          <%= f.password_field :password_confirmation, class:"col-sm-3 fix-margin" %>
        </div>
        <%= f.hidden_field :is_deleted, value: false %>

        <div class="actions col-md-12 mb-3">
          <%= f.submit "新規登録", class:"col-sm-3 offset-sm-3 btn-success text-white sircle-btn p-2 mt-3" %>
        </div>
        <% end %>

        <div class="already-sign-up">
          <div class="field col-md-3 offset-sm-1 py-3">
            <h3 class="bg-white text-center mt-3 pt-2 pb-2">既に登録済みの方</h3>
          </div>
            <p class="link-to-sign-in">
        　    <%= link_to "こちら", new_member_session_path %>からログインしてください！
        　   </p>
        </div>
      </div>
    </div>
  </div>
</main>