<div class="title-group">
  <div class="title">
    <h4>会員一覧</h4>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
        <table class="col-8 mx-auto">
         <thead class="orders-nav border-top border-bottom">
           <tr>
             <th class="p-2">会員ID</th>
             <th class="p-2">氏名</th>
             <th class="p-2">メールアドレス</th>
             <th class="p-2">ステータス</th>
           </tr>
          </thead>

          <tbody class="border-bottom">
            <% @members.each do |member| %>
              <tr>
                <td class="p-2 border-bottom">
                  <%= member.id %>
                </td>
                <td class="p-2 border-bottom">
                  <%= link_to private_member_path(member) do  %>
                    <%= member.family_name%><%= member.first_name %>
                  <% end %>
                </td>
                <td class="p-2 border-bottom">
                  <%= member.email %>
                </td>
                <td class="p-2 border-bottom">
                  <% if member.is_deleted == false %>
                    <p class="text-success">有効</p>
                  <% else %>
                    <p class="text-black-50">退会</p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
      <div class="mx-auto m-3"><%= paginate(@members) %></div>
  </div>
</div>
<br>
