<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="orders-title mt-5 mb-2"><span class="orders-title-span">注文履歴一覧</span></h4>

        <table class="col-8 mx-auto">
         <thead class="orders-nav border-top border-bottom">
           <tr>
             <th class="p-2">購入日時</th>
             <th class="p-2">購入者</th>
             <th class="p-2">注文個数</th>
             <th class="p-2">注文ステータス</th>
           </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td class="p-2 border-bottom">
                  <%= link_to private_order_path(order) do %>
                    <%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                  <% end %>
                </td>
                <td class="p-2 border-bottom">
                  <%= order.member.family_name %><%= order.member.first_name %>
                </td>
                <td class="p-2 border-bottom">
                  <%= order.ordered_products.count %>
                </td>
                <td class="p-2 border-bottom">
                  <%= order.order_status %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
      <div ="mx-auto"><%= paginate(@orders) %></div>
  </div>
</div>
