<div class="title-group">
  <div class="title">
    <h4>注文履歴詳細</h4>
  </div>
</div>
<br>

<div class="container">
<!-- 注文ステータス -->
  <div class="row">
    <div class="field col-2">
      <p><strong>購入者</strong></p>
    </div>
    <div class="field col-10">
      <%= @order.member.family_name %><%= @order.member.first_name %>
    </div>

    <div class="field col-2">
      <p><strong>注文日</strong></p>
    </div>
      <div class="field col-10">
      <%= @order.created_at.strftime("%Y-%m-%d") %>
    </div>


    <div class="field col-2">
      <p><strong>配送先</strong></p>
    </div>
      <div class="field col-10">
      〒<%= @order.postal_code %>　　  <%= @order.address %><br>
       <%= @order.name %>
    </div>


     <div class="field col-2 mt-3">
      <p><strong>支払い方法</strong></p>
    </div>
      <div class="field col-10 mt-3">
      <% if @order.payment == "0" %>
        <p>　　クレジットカード</p>
      <% elsif @order.payment == "1" %>
        <p>　　銀行振込</p>
      <% end %>
    </div>


    <div class="field col-2">
      <p><strong>注文ステータス</strong></p>
    </div>
      <div class="field col-10 ">
      <%= form_with model: @order, url: private_order_path, local: true, method: :patch  do |f|  %>
        <%= f.select :order_status, ["入金待ち","入金確認","製作中","発送準備中","発送済み"], class: "" %>
        <%= f.submit "更新", class: "btn btn-success" %>
      </div>

      <% end %>
  </div>
</div>
<br>

<div class="container">
      <!-- 制作ステータス -->
  <div class="row">
    <div class="col-8">
      <table class="table table-hover table-borderd table-inverse">

        <tr class="info">
          <th class="text-left">商品名</th>
          <th>単価(税抜)</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
        </tr>

      <% @ordered_products.each do |ordered_product| %>
        <tr>
          <td class="text-left"><%= ordered_product.product.name %></td>
          <td><%= ordered_product.product.ex_price %></td>
          <td><%= ordered_product.quantity %></td>
          <td><%= (ordered_product.purchased_price)*(ordered_product.quantity) %></td>
        <%= form_with model: ordered_product, url: private_ordered_product_path(ordered_product), local: true, method: :patch do |f|  %>
          <td>
            <%= f.select :production_status,["着手不可","制作待ち","製作中","制作完了"] %>
            <%= f.submit "更新", class: "btn btn-success" %>
          </td>
        <% end %>
        </tr>
      <% end %>
      </table>
    </div>

    <div class="col-3 offset-1 mt-4">
      <table class="table table-hover table-borderd table-inverse">
        <tr>
        <th class="text-left" >商品合計</th> <td class="text-left"><%= @order.total_price%>円</td>
        </tr>
        <tr>
        <th class="text-left">送料</th><td class="text-left"><%= @order.postage %>円</td>
        </tr>
        <tr>
        <th class="text-left">請求金額合計</th> <td class="text-left"><%= (@order.total_price)+(@order.postage) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
