<div class="container">
  <h4 class="orders-title mt-5 mb-2"><span class="orders-title-span">注文履歴詳細</span></h4>
    <div class="row">
      <div class="col-12">


<!-- 注文ステータス -->
      <div class="row">
          <div class="field col-2">
            <p><strong>購入者</strong></p>
          </div>
          <div class="field col-10">
            <%= @order.member.family_name %><%= @order.member.first_name %>
          </div>

          <div class="field col-2">
            <p><strong>注文日</strong></p>
          </div>
            <div class="field col-10">
            <%= @order.created_at.strftime("%Y-%m-%d") %>
          </div>


          <div class="field col-2">
            <p><strong>配送先</strong></p>
          </div>
            <div class="field col-10">
            〒<%= @order.postal_code %>　　  <%= @order.address %><br>
             <%= @order.name %>
          </div>


           <div class="field col-2 mt-3">
            <p><strong>支払い方法</strong></p>
          </div>
            <div class="field col-10 mt-3">
            <% if @order.payment == "0" %>
              <p>　　クレジットカード</p>
            <% elsif @order.payment == "1" %>
              <p>　　銀行振込</p>
            <% end %>
          </div>


          <div class="field col-2">
            <p><strong>注文ステータス</strong></p>
          </div>
          <div class="field col-10 ">
          <%= form_with model: @order, url: private_order_path, local: true, method: :patch  do |f|  %>
            <%= f.select :order_status,Order.order_statuses.keys,include_order_status: "入金待ち" %>
            <%= f.submit "更新", class: "btn btn-success" %>
          </div>

              <% end %>
          </div>
        </div>
      </div>

      <!-- 制作ステータス -->
          <div class="row">
            <div class="col-9">
              <table class="table table-hover table-borderd table-inverse">

                <tr class="info">
                  <th>商品名</th>
                  <th>単価(税込)</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>制作ステータス</th>
                </tr>

              <% @ordered_products.each do |ordered_product| %>
                <tr>
                  <td><%= ordered_product.product.name %></td>
                  <td><%= (1.1*ordered_product.product.ex_price).floor.to_s(:delimited)  %></td>
                  <td><%= ordered_product.quantity %></td>
                  <td><% floor_price = (1.1*ordered_product.purchased_price).floor %>
                      <%=  (floor_price*ordered_product.quantity).to_s(:delimited)  %>
                  </td>
                <%= form_with model: ordered_product, url: private_ordered_product_path(ordered_product), local: true, method: :patch do |f|  %>
                  <td>
                    <%= f.select :production_status, OrderedProduct.production_statuses.keys,include_production_status: "着手不可" %>
                    <%= f.submit "更新", class: "btn btn-success" %>
                  </td>
                <% end %>
                </tr>
              <% end %>
              </table>
            </div>

            <div class="col-3">
              <table class="table table-hover table-borderd table-inverse">
                <tr>
                  <th>商品合計</th> <td><%= (@order.total_price - @order.postage).to_s(:delimited) %>円</td>
                </tr>
                <tr>
                  <th>送料</th><td><%= @order.postage %>円</td>
                </tr>
                <tr>
                  <th>請求金額合計</th> <td><%= @order.total_price.to_s(:delimited)  %>円</td>
                </tr>
              </table>
            </div>
          </div>
        </div>