<main>
  <div class="container">
    <h1 class="page-title bg-white">注文履歴一覧</h1>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="vertical" width="11%">注文日</th>
          <th class="vertical" width="36%">配送先</th>
          <th class="vertical" width="20%">注文商品</th>
          <th class="vertical" width="11%">支払額</th>
          <th class="vertical" width="11%">ステータス</th>
          <th class="vertical" width="11%">注文詳細</th>
        </tr>
      </thead>

      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td class="vertical">
            <%= order.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td class="vertical text-align-left">
            〒<%= order.postal_code %>
            <br>
            <span>　</span><%= order.address %>
            <br>
            <span>　</span><%= order.name %>
          </td>
          <td class="vertical text-align-left">
            <!--注文履歴一覧-->
              <% order.ordered_products.each do |ordered_product| %>
                <p class="no-margin-bottom-p">
                  <%= ordered_product.product.name %>
                </p>
              <% end %>
          </td>
          <td class="vertical">
            <%= order.total_price.to_s(:delimited) %> 円
          </td>
          <td class="vertical font-success">
            <!--バグ修正①-->
            <%= order.order_status %>
          </td>
          <td class="vertical">
            <%= link_to "表示する", order_path(order.id), class:"btn btn-sm btn-primary" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</main>