<div class="container">
  <h1 class="page-title bg-light">注文履歴一覧</h1>

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th class="vertical" width="11%">注文日</th>
        <th class="vertical" width="37%">配送先</th>
        <th class="vertical" width="18%">注文商品</th>
        <th class="vertical" width="9%">支払額</th>
        <th class="vertical" width="12%">ステータス</th>
        <th class="vertical" width="12%">注文詳細</th>
      </tr>
    </thead>

    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td class="vertical">
          <%= order.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td class="vertical" id="text-align-left">
          〒<%= order.postal_code %>
          <br>
          <%= order.address %>
          <br>
          <%= order.name %>
        </td>
        <td class="vertical">
          <!--注文商品一覧(注文商品テーブルからデータを取ってこないといけない)-->
          <%= %>
        </td>
        <td class="vertical">
          <%= order.total_price.to_s(:delimited) %> 円
        </td>
        <td class="vertical">
          <% if order.order_status == 0 %>
            入金待ち
          <% elsif order.order_status == 1 %>
            入金確認
          <% elsif order.order_status == 2 %>
            制作中
          <% elsif order.order_status == 3 %>
            発送準備中
          <% else %>
            発送済
          <% end %>
        </td>
        <td class="vertical">
          <%= link_to "表示する", order_path(order.id), class:"btn btn-sm btn-primary" %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>